In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
dataset=pd.read_csv("Flights.csv")

In [3]:
dataset.head(10)

                    id      conversation_id  ...  trans_src trans_dest
0  1269251597617545217  1269251597617545217  ...        NaN        NaN
1  1269251591976022018  1269251591976022018  ...        NaN        NaN
2  1269251591821017089  1269251591821017089  ...        NaN        NaN
3  1269251582022938624  1269251582022938624  ...        NaN        NaN
4  1269251580441886723  1269226918517149699  ...        NaN        NaN
5  1269251572271218688  1266346843107139584  ...        NaN        NaN
6  1269251555934470144  1269251555934470144  ...        NaN        NaN
7  1269251555473137665  1268875079783297024  ...        NaN        NaN
8  1269251554349068289  1269235608615972865  ...        NaN        NaN
9  1269251550137872384  1269251550137872384  ...        NaN        NaN

[10 rows x 34 columns]

In [4]:
df1=dataset[['id','user_id','name','tweet']]
df1

                       id  ...                                              tweet
0     1269251597617545217  ...  @1rorycowan my flight to Dublin cancelled so 5...
1     1269251591976022018  ...  @AAI_Official what are the quarantine rules fo...
2     1269251591821017089  ...  How will local flights operate with Nairobi,mo...
3     1269251582022938624  ...  @HCI_London My sister is a student and stuck i...
4     1269251580441886723  ...  So many flights from other countries are landi...
...                   ...  ...                                                ...
5719  1269210814151421952  ...  Also my ticket was with Qatar which got cancel...
5720  1269210811739672579  ...  first time lps 22 tahun buat passport and book...
5721  1269210811668606978  ...  Hi, I have. Applied for a refund on the 5th of...
5722  1269210796669784069  ...  Las grandes decisiones se toman siempre con fl...
5723  1269210789782540288  ...  Nodbody care about others  who realy need inte...

[5724 rows x 4 columns]

In [5]:
df1.shape

(5724, 4)

In [6]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]

In [0]:
for i in range(0, len(df1)):
    review=re.sub('[^a-zA-Z]',' ',df1['tweet'][i])
    review=review.lower() 
    review=review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer(max_features=2000,ngram_range=(1,3))  
X=tf.fit_transform(corpus).toarray()

In [12]:
X.shape

(5724, 2000)

In [13]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

True

In [0]:
import textblob
from textblob import TextBlob

In [0]:
value=[]
for i in df1['tweet'].values:
    try:
        analysis=TextBlob(i)
        value.append(analysis.sentiment.value)
    except:
        value.append(0)

In [16]:
df1['value']=value
df1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                    id  ...  value
0  1269251597617545217  ...      0
1  1269251591976022018  ...      0
2  1269251591821017089  ...      0
3  1269251582022938624  ...      0
4  1269251580441886723  ...      0

[5 rows x 5 columns]

In [17]:
df1.head(20)

                     id  ...  value
0   1269251597617545217  ...      0
1   1269251591976022018  ...      0
2   1269251591821017089  ...      0
3   1269251582022938624  ...      0
4   1269251580441886723  ...      0
5   1269251572271218688  ...      0
6   1269251555934470144  ...      0
7   1269251555473137665  ...      0
8   1269251554349068289  ...      0
9   1269251550137872384  ...      0
10  1269251542772625408  ...      0
11  1269251537919971330  ...      0
12  1269251536166715393  ...      0
13  1269251508597645312  ...      0
14  1269251501089849344  ...      0
15  1269251480051204096  ...      0
16  1269251475991080960  ...      0
17  1269251461277507585  ...      0
18  1269251451576090626  ...      0
19  1269251445527887874  ...      0

[20 rows x 5 columns]

In [0]:
y=df1[['value']]

In [19]:
X.shape

(5724, 2000)

In [20]:
y.shape

(5724, 1)

In [21]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5724 entries, 0 to 5723
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5724 non-null   int64
dtypes: int64(1)
memory usage: 44.8 KB

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [0]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [0]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [25]:
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)
metrics.confusion_matrix(y_test, pred)

accuracy:   1.000

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[1145]])